Problem_1_Profit.png
Problem_1_Solution.png
Problem_1_Weight.png
Problem_2_Profit.png
Problem_2_Solution.png
Problem_2_Weight.png
Problem_3_Profit.png
Problem_3_Solution.png
Problem_3_Weight.png
Problem_4_Profit.png
Problem_4_Solution.png
Problem_4_Weight.png
Problem_5_Profit.png
Problem_5_Solution.png
Problem_5_Weight.png
Problem_6_Profit.png
Problem_6_Solution.png
Problem_6_Weight.png
Problem_7_Profit.png
Problem_7_Solution.png
Problem_7_Weight.png
Problem_8_Profit.png
Problem_8_Solution.png
Problem_8_Weight.png
